.App {
  text-align: center;
}
/*
.header {
  background-color: #FFC0CB; 
  text-align: center;
  padding: 20px;
  font-size: 2em;
  color: #FBEADB;

}
*/

/*
.bird-entry {
  text-align: left;
  margin: 10px auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #E45861; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
  position: fixed; /* Fixed position 
  top: 0; 
  width: 90%;
  left: 50%; 
  transform: translateX(-50%); 
  border-radius: 10px; 

}
*/
/*
.bird-entry:hover {
  background-color: #E64155; /* Lighter gray background color on hover 
}
*/
/*
.logo {
  height: 100px;
  width: 100%;
  margin: 10px auto;
  background-color: #51AAB5; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  bottom: 0; 
  z-index: 999; 
  border-radius: 10px; 
}
*/

.bird-list {
  margin: 0 auto;
  padding: 0;
  list-style: decimal;
  max-width: 700px;
  width: 90%;


}

.bird-list li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  list-style: decimal; /* Change list-style to decimal */
}
/*
.loggedin {
  position: fixed; /* Fixed position 
  z-index: 999; /* Ensure the .loggedin is on top of other elements 
  width: 100%; /* Take up the full width 
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  max-width: 500px;
  position: fixed;
  text-align: center;
  width: 100%; /* Take up the full width 
  z-index: 999; /* Ensure the .loggedin is on top of other elements 
}
*/



