.App {
  background-color: #3D437E;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.main {
  width: 95%;
  min-height: 60vh;
  margin: 0 auto;
  background-color: #3D437E;
}

.main-content {
  width: 290px;
  min-height: 60vh;
  margin: 0 auto;
  background-color: #3D437E;
}

.card {
  background-color: #F5EDDF;
  width: 265px;
  margin: 0 auto;
  padding-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.top-card {
  background-color: #E8A3BE;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.enter-bird {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
  height: 100%;

}

.add-bird-container {
  display: flex;
  flex-direction: column;
}

.bird-form input {
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14pt;
  padding-bottom: 0px;
}

.bird-form input {
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: transparent;
}

.bird-form button {
  background-color: #F50348;
  color: white;
  border-radius: 20px;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 7pt;
  font-weight: bold;
  height: 25px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bird-suggestions {
  position: absolute;
  width: 100%;
  top: 100%;
}

.bottom-card {

}

.bird-list {
  counter-reset: bird-list-counter;
  margin-left: -20px;
}

.bird-list ol {
  list-style-type: none;
  font-size: 9pt;
}

.bird-list li {
  padding: 3px 0;
  color: #000557;
}

.bird-list li::before {
  counter-increment: bird-list-counter;
  content: counter(bird-list-counter, decimal-leading-zero);
  text-align: left;
  display: inline-block;
  width: 35px;
  color: #000557;
}
